* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  }
  
  html {
    position: relative;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  }
  
  h1 {
    font-weight: 300;
    font-size: 48px;
    text-align: center;
  }

  img {
    width: 100%;
    margin-top: 10px;
  }
  
  input {
    border: 2px solid rgb(185, 185, 185);
    outline: none;
    border-radius: 3px;
    padding: 5px;
  }
  
  input:hover {
    border-color: gray;
  }
  
  input:focus {
    border-color: blue;
  }
  
  
  .navbar-brand {
    margin-left: 1rem;
  }
  .navbar{
    --bs-navbar-color: black;
  }
  
  .page {
    position: relative;
    height: 100vh;
  }
 
  .viewport-picture {
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: right;
    width: 100%; 
    height: 100%;   
    background-color: #ebcef9
    
  }
  
  .main-picture {
    background-image: url("../img/albert-einstein-in-mind.png");
    background-repeat: no-repeat;
    opacity: 0.6;
  }
  .logo{

width: 47px;
height: 45px;
left: 215px;
top: 51px;
background: #5DC5AC;
border-radius: 10px;
text-align: center;
line-height: 45px;
  }
  .fixed-top {
    right: auto;
  }
 

  .page-content {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    bottom: 0; 
    right: 0;
    color: black;
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;

  }
  .page-content h1{
    font-weight: 800;
    font-size: 48px;
    text-align: justify;
    width: 800px;
  }
  .page-content p.text_promo {
    text-align: left;
    font-size: 33px;
    font-weight:normal;
    width: 500px;
  }
  .page-content p.autor_promo {
    text-align: center;
    font-size: 25px;
    font-weight:normal;
    
  }
 
 
  .btn-primary{
    background: linear-gradient(93.6deg, #79DAC8 7.15%, rgba(192, 254, 243, 0.69) 86.7%);
    box-shadow: 0px 10px 25px #ABE8E3;
border-radius: 31px;
border-color:var(--cols-num);
  }
  .promo {
    background: #FDFFF0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    text-align: center;
    min-height: 1vh;
    height: auto;
  }
  .btn-search {
    background: #424242;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #1c1c1c;
    background-image: url("../img/premium-icon-search-4024513.png");
    
  }
  
  @media (min-width: 250px) and (max-width: 400px) {
    html {
      width: 370px;
    }
    .collapse.navbar-collapse{
     display:contents;
    }
    .navbar-nav{
      display: contents;
    }
    .page-content p.text_promo{
      font-size: 20px;
      width: 350px;
    }
    .page-content h1{
      font-weight: 600;
      font-size: 20px;
      width: 340px;
      padding-top: 70px;
    }
    .page.main-page{
      height: 53vh;
    }

    .page-content p.autor_promo{
      text-align: right;
    font-size: 15px;
    font-weight: normal;
    padding-right: 15px;
    }
   .nav-item{
    margin-right: 45px;
   }
 
}
@media (min-width: 400px)and (max-width: 575px){
  .collapse.navbar-collapse{
    display:contents;
   }
   .navbar-nav{
     display: contents;
   }
   .nav-item{
    margin-right: 32px;
   }
  .page-content h1{
    font-weight: 600;
    font-size: 20px;
    width: auto;
    padding-top: 70px;
  }
  .page-content p.text_promo{
   text-align: left;
  font-size: 15px;
  font-weight: normal;
  padding-right: 15px;
  width:auto;
  }
 .nav-item{
  margin-right: 45px;
 }
}
  @media (min-width: 576px)and (max-width: 900px){
    html {
      width: 850px;
    }
    .collapse.navbar-collapse{
     display:contents;
     margin-left: 0px;

    }
    .container{
     max-width: 800px;
      
    }
    .navbar-nav{
      flex-direction: row;
      padding: auto;
    }
    .nav-item{
      padding: 25px;
    }
    .page.main-page{
      height: 68vh;
    }
    .page-content h1{
      font-weight: 600;
      font-size: 20px;
      width: 500px;
      padding-top: 130px;
    }
    .page-content p.autor_promo{
      text-align: right;
    font-size: 15px;
    font-weight: normal;
    padding-right: 15px;
    }
  }
  @media (min-width: 900px )and (max-width: 1300px){
    html {
      width: 910px;
    }
    .collapse.navbar-collapse{
      margin-left: 100px;
 
     }
     .container{
      max-width: 900px;
     }
     .navbar-nav{
    padding-left: 160px;
    }
    .page.main-page{
      height: 63vh;
    }

  }
  