{{ define "search_form" }}

<section class = "page promo">

    <form action="/search" class="input-group" method="POST">
          <select name="select_box"  class="form-select" id="select_box" aria-label="Default select example">
      <option selected>Тип научного мероприятия</option>
      <option value="1">Олимпиада</option>
      <option value="2">Конференция</option>
      <option value="3">Форум</option>
      <option value="4">Хакатон</option>
    </select>
      <input type="text" name="search" class="form-control" placeholder="Search for...">
      <div>
        <button type="submit" class="btn btn-search"  >Найти</button>
      </div>
    </form>


  {{ range .}}
  <p></p>
  <div class="card w-100 p-3 text-center bg-light">
      <h2>{{ .Type }}</h2>
      <p>ID: {{ .Id }}</h2>
          <p>Цена: {{ .Price }}</h2>
      </div>
    </div>
  {{ else }}
  <p>Мероприятия не найдены!</p>
  {{ end }}

</section>

{{ end }}